html {
  font-family: "Segoe UI";
  line-height: 1.15;

}
body {
  margin: 0;
  font-family: "Segoe UI", Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

